{
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "no-console": 1,
        "valid-typeof":"off"   
    },
    "plugins": [
        "prettier"
    ]
}
